html {
}

main {
  width: 1200px;
  max-width: 90%;
  margin: auto;
  box-sizing: border-box;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  text-align: center;
  font-weight: bold;
}

nav {
  margin-bottom: 10px;
}

article {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
}

footer {
}
aside {
  margin-top: 10px;
  margin-bottom: 10px;
}

button.kategoriagomb {
  border-radius: 20px;
  padding: 10px;
  border: 2px solid gray;
}

a.navbar-brand {
  padding: 8px;
}

div.card.text-center.mb-3 {
  margin: 2px;
}

body.darkmode {
  background-color: #121212;
  color: white;
}

body.darkmode .card {
  background-color: #1e1e1e;
  color: white;
  border: 1px solid #333;
}

body.darkmode .navbar {
  background-color: #1e1e1e;
  color: white;
}
